
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
*.csv
*.parquet
*.crc
*.ipynb_checkpoints/
*.jar
# end dbt Cloud content
